*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ztk {
  font-family: '微软雅黑';
}
#container{
	background: url('./images/nbg.png');
  background-size: cover;
  height:100vh;
  width:100vw;
  position: fixed;
  left: 0;
  top: 0;
}
#container .man{
/*  height: 15vh;
  position: fixed;*/
/*  top: 77vh;*/
/*  margin-top: 77vh;*/
/*  bottom: 97px;*/
  z-index: 99;
}
.man img{
  width: 200px;
  height: 200px;
  z-index: 99;
  position: absolute;
  bottom: 159px;
  left: 200px;
}
#container .bottom{
/*  height: 655px;
  width: 100%;
  background:url(./images/nbottom.png) no-repeat;
  position: fixed;
  bottom: 0;*/
}
#bg{
  width: 100%;
  height: 655px;
  position: absolute;
  bottom:0;
  z-index: 0;
}
.tips{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  background-color: rgba(0,0,0,0.3);
}
.tip{
  width: 650px;
  height: 410px;
  background:url('./images/tip.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -350px;
  z-index: 999;
  color:#fff;
  font-size:27px;
}
.tip span.tipvalue{
  display: inline-block;
  margin-top: 41px;
  margin-left: 264px;
  line-height: 45px;
  font-size: 29px;
}
.tip span.opera{
  display: inline-block;
  margin-top: 1.5vh;
  margin-left: 239px;
  line-height: 2vh;
  font-size:32px;
}
.opera .comeon{
  color:#6f3901;
  display: inline-block;
  margin:26px 0;
}
.imgs{
  display: inline-block;
  margin-top: 20px;
  margin-left:127px;
}
.imgs img:nth-child(2) {
  margin-left: 20px;
}
.choose{
  display: inline-block;
  margin-left:173px;
  margin-top: 117px;
  font-size:24px;
  font-family: 'PingFang SC';
}
.choose div{
  display: inline-block;
  margin-left: 68px;
  margin-top: 20px;
  text-align: center;
}
.weichatimg{
  margin-left: -20px;
}
.choose div span{
  display: inline-block;
  margin-top: 5px;
}
.qrcode{
  display: inline-block;
  margin-left: 100px;
  margin-top: 89px;
  text-align: center;
  font-size: 24px;
  font-family: 'PingFang SC';
}
/*.choose img{
  margin-left: 20px;
}
.choose img.weichat:after{
  content: '微信好友';
  display: block;
  margin-top: 50px;
}*/
.close{
  width: 46px;
  height: 46px;
  font-size: 35px;
  float:right;
  padding-left: 10px;
}